<h1> Taks Panel Admin</h1>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/admin">APP</a></li>
        <li class="breadcrumb-item active" aria-current="page">Tasks opertions</li>
    </ol>
</nav>
<!--
<div>
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let index of tasks$">
            <h1> API DATA</h1>
            <h6>Tittle: {{index.tittle}}</h6>
            <h6>Description: {{index.description}}</h6>
            <h6>Telf: {{index.telf}}</h6>
        </li>
    </ul>
</div>
-->
<div class="container">

    <div class="row">
        <!--FORM-->
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
                        <div class="form-group">
                            <input class="form-control" type="text" id="title" placeholder="Title" id="title"
                                formControlName="title" />
                        </div>
                        <div class="form-group">
                            <!--La etiqueta name es importante, ya que asi envia angular los eventos-->
                            <textarea class="form-control" id="description" formControlName="description" cols="80"
                                placeholder="Add a Description"></textarea>
                        </div>
                        <div class="form-group">
                            <!--La etiqueta name es importante, ya que asi envia angular los eventos-->
                            <textarea class="form-control" id="telf" formControlName="telf" cols="80"
                                placeholder="telf"></textarea>
                        </div>
                        <button class="btn btn-primary btn-block" type="submit">
                            Add
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <!-- LIST -->
        <div class="col-md-7">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Phone</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let item of tasks$; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{item.title}}</td>
                        <td>{{item.description}}</td>
                        <td>{{item.telf}}</td>
                        <td>
                            <a href="/delete" class="btn btn-danger">
                                Done
                            </a>
                            <a href="/delete" class="btn btn-danger">
                                Delete
                            </a>
                            <a href="/edit" class="btn btn-info">
                                Edit
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>